<ion-view view-title="Headlines">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          It has been <b>5 days</b>
          since the last report
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">From SCANA</div>
      <div class="item item-body">
        <div>
          Safety starts with you!!
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
