<ion-view view-title="Headlines">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider" style="background-color:#0066ff;">Recent Updates</div>
      <div class="item item-body">
        <div>
          It has been <b>5 days</b>
          since the last report
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider"style="background-color:#0066ff;">From SCANA</div>
      <div class="item item-body">
        <div>
          Safety starts with you!!
        </div>
      </div>
    </div>
    <div>
      <img src="img/scanalogo.gif" alt="Scana Logo" style="width:350px;height:200px;padding-left:100px;padding-top:100px;" />
    </div>
  </ion-content>
</ion-view>

