<style>
.icon.ion-close {
	fill:red;
	stroke:red;
	color:red;
}
.icon.ion-checkmark {
	fill:green;
	stroke:green;
	color:green;
}
</style>
<ion-view view-title="Report Incident">
  <ion-content>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Your Name">
            </label>
            <label class="item item-input">
                <input type="tel" placeholder="Contact Number">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Incident Title">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Description">
            </label>
            <label class="item item-select">
                <span class="input-label">Priority</span>
                <select>
                    <option>Low</option>
                    <option>Medium</option>
                    <option>High</option>
                    <option>Critical</option>                    
                </select>
            </label>
        </form>
        <button class="button button-stable button-block  icon ion-camera" ng-click="capturePhotoWithData();"></button>
        <img style="display:none;width:60px;height:60px;" id="smallImage" src="" />
        <div class="spacer" style="width: 283px; height: 29px;"></div>
        <div class="button-bar">
            <button class="button button-stable button-block  icon ion-close "></button>
            <button class="button button-stable button-block  icon ion-checkmark "  ng-click="SaveData()"></button>
        </div>
  </ion-content>
</ion-view>
