<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Headlines" icon-off="ion-home" icon-on="ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Report" icon-off="ion-plus-circled" icon-on="ion-plus-circled" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="View" icon-off="ion-eye" icon-on="ion-eye" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

 <!-- MapIt Tab -->
  <ion-tab title="MapIt" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/mapit">
    <ion-nav-view name="tab-mapit"></ion-nav-view>
  </ion-tab>

</ion-tabs>
